.line-sep {
    clear: both;
}
/*<- Header styling ->*/
#menu a:link {
    text-decoration: none;
    
}

#menu a:hover {
    color: white;
    background-color: black;
    transition-duration: 0.8s;
}

#menu a:visited{
    color: white;
}

#menu {
    
    background: linear-gradient(#ffffff,#5000cc);
    text-align: center;
    font-weight: bold;
    box-shadow: 1px 2px 10px black; 
    }

#menu a {
    border: 0px solid;
    border-radius: 1px 25px 1px 25px;
    padding: 13px 60px;
    
}

#menu ul {
    height: auto;
    margin: 0px;
}

#menu li {
    display: inline-flex;
    padding-left: 50px;
    padding-right: 50px;
}
/*<- Header styling ->*/
/*Common site styling*/
footer {
    height: auto;
    text-align: center;
    clear: both;
    
}

footer li {
    display: inline-flex;
    padding-right: 50px;
}


.img-size {
    width: 30px;
    height: 30px;
}

#f-header {
    margin: auto;
    text-align: center;
    color: grey;
}

body {
    font-family: Ubuntu Condensed, Archivo Narrow, sans-serif;
}
/*Common site styling*/
#indent  {
    text-indent: 20px;
}

#hidden {
    visibility: hidden;
    position: absolute;
    top: 0;
}

#aside {

    position: fixed;
    height: 65%;
    width: 15em;
    text-align: center;
    right: 20px;
    top: 45px;
}

#aside ul {
    list-style-type: none;
    padding: 0;
    
}

#aside li {
    font-size: 15px;
    margin-bottom: 5px;
}

#aside li a:link {
    text-decoration: none;
    color: black;
}

#aside li a:hover {
    text-decoration: underline;
}

#aside li a:visited {
    color: black;
}

#section {
    display: block;
    width: 60%;
    margin: 1em 15em 0em 5em;
    
}

.blog_title {
    margin-left: 1em;
    min-width: 7em;
    }


