.line-sep {
    clear: both;
}

#menu a:link {
    text-decoration: none;
    color: black;
}

#menu a:hover {
    color: white;
    background-color: black;
    transition-duration: 0.7s;
}

#menu a:visited{
    color: white;
}

#menu {
    background-color: grey;
    text-align: center;
    font-weight: bold;
}

#menu a {
    padding: 13px 60px;
    
}

#menu ul {
    height: auto;
    margin: 0px; 
}

#menu li {
    display: inline-flex;
    padding-left: 50px;
    padding-right: 50px;
}

footer {
    height: auto;
    text-align: center;
    clear: both;
}

footer li {
    display: inline-flex;
    padding-right: 50px;
}

body {
    font-family: Cursive;
}

main {
    display: flex;
    justify-content: center;
}

#aside {
    margin-right: 5em;
    margin-left: auto;
    border: 3px solid #484848;
    height: 65%;
    width: 15em;
    text-align: center;
    background-color: white;
}

.aside-font {
    font-size: .7em;
}

#section {
    width: 60%;
    margin: 0em 15em 0em 5em;
}

.blog_title {
    margin-left: 1em;
    min-width: 7em;
    }

.img-size {
    width: 30px;
    height: 30px;
}

#f-header {
    margin: auto;
    text-align: center;
    color: grey;
}

