.line-sep {
    clear: both;
}

#menu a:link {
    text-decoration: none;
    color: black;
}

#menu a:hover {
    color: white;
    background-color: black;
    transition-duration: 0.7s;
}

#menu a:visited{
    color: white;
}

#menu {
    background-color: grey;
    text-align: center;
    font-weight: bold;
}

#menu a {
    padding: 13px 60px;
    
}

#menu ul {
    height: auto;
    margin: 0px; 
}

#menu li {
    display: inline-flex;
    padding-left: 50px;
    padding-right: 50px;
}

footer {
    height: auto;
    text-align: center;
    clear: both;
}

footer li {
    display: inline-flex;
    padding-right: 50px;
}

body {
    font-family: Cursive;
}

#f-header {
    margin: auto;
    text-align: center;
    color: grey;
}

.game {
    width: 960px;
    height: 600px;
}

.img-size {
    width: 30px;
    height: 30px;
}