.line-sep {
    clear: both;
}

#menu a:link {
    text-decoration: none;
    color: black;
}

#menu a:hover {
    color: white;
    background-color: black;
    transition-duration: 0.7s;
}

#menu a:visited{
    color: white;
}

#menu {
    background-color: grey;
    text-align: center;
    font-weight: bold;
    }

#menu a {
    padding: 13px 60px;
    
}

#menu ul {
    height: auto;
    margin: 0px;
}

#menu li {
    display: inline-flex;
    padding-left: 50px;
    padding-right: 50px;
}


body {
    font-family: Cursive;
}

main {
    display: flex;
    justify-content: center;
}

footer {
    height: auto;
    text-align: center;
    clear: both;
}

footer li {
    display: inline-flex;
    padding-right: 50px;
}

#aside {
    margin-right: 5em;
    border: 3px solid #484848;
    height: 65%;
    width: 15em;
    text-align: center;
    background-color: white;
}

#aside-font {
    font-size: .7em;
}

.img-size {
    width: 30px;
    height: 30px;
}

#f-header {
    margin: auto;
    color: grey;
}

#b-color {
    background-color: #14A1CC;
}

.tyler {
    height: 40em;
    padding: 10px 84px;
   
}

#welcome {
    text-align: center;
    border: 3px solid #484848;
    background-color:#808080;
    width: 40em;
    }

.div {
    margin: 0px auto 0px 516px;
}