.line-sep {
    clear: both;
}

/*<- Header styling ->*/
#menu a:link {
    text-decoration: none;
    
}

#menu a:hover {
    color: white;
    background-color: black;
    transition-duration: 0.8s;
}

#menu a:visited{
    color: white;
}

#menu {
    
    background: linear-gradient(#ffffff,#5000cc);
    text-align: center;
    font-weight: bold;
    box-shadow: 1px 2px 10px black; 
    }

#menu a {
    border: 0px solid;
    border-radius: 1px 25px 1px 25px;
    padding: 13px 60px;
    
}

#menu ul {
    height: auto;
    margin: 0px;
}

#menu li {
    display: inline-flex;
    padding-left: 50px;
    padding-right: 50px;
}
/*<- Header styling ->*/

body {
    font-family: Ubuntu Condensed, Archivo Narrow, sans-serif;
}

main {
    
    justify-content: center;
}

footer {
    height: auto;
    text-align: center;
    clear: both;
}

footer li {
    display: inline-flex;
    padding-right: 50px;
}



.img-size {
    width: 30px;
    height: 30px;
}

#f-header {
    margin: auto;
    color: grey;
}

#b-color {
    background-color: #14A1CC;
}

.tyler {
    height: 40em;
    padding: 10px 84px;
   
}

/*Main body*/

#center-container {
    background-color: #f9f2ec;
    box-shadow: 0px 5px 8px grey;  
    width: 70%;
    height: 100%;
    margin: 10px auto;
    
}

#content {
    /*background-color: white;*/
    width: 60%;
    margin-top: 20px;
    margin-left: 4%;
    position: absolute;
    padding: 0px 10px;

}

#content p {
    text-indent: 20px;

}

/*Main body*/

